In [7]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
DATA_PATH = os.path.join(os.getcwd(), 'names')

In [9]:
def get_dict_with_df(list_of_years):
    dict_of_data_frame = {}
    for year in list_of_years:
        names = pd.read_csv(os.path.join(DATA_PATH, 'yob' + str(year) + '.txt'), names = ['Name', 'Gender', 'Count']) 
        dict_of_data_frame[year] = names
    return dict_of_data_frame

In [10]:
def count_top3(list_of_years):
    dict_of_data_frame = get_dict_with_df(list_of_years) 
    result_df = pd.concat(dict_of_data_frame, names = ['Year', 'Pos'])
    result_df = result_df.groupby('Name').sum()
    result_df = result_df.sort_values(by='Count', ascending = False).head(3) 
    return result_df.reset_index()

In [11]:
result_df = count_top3([2014, 2015, 2016])

In [12]:
result_df

     Name  Count
0    Emma  60781
1  Olivia  58713
2    Noah  58247

In [33]:
def count_dynamics(list_of_years):
    dict_of_data_frame = get_dict_with_df(list_of_years)
    result_df = pd.concat(dict_of_data_frame, names = ['Year', 'pos'])
    result_df = result_df.groupby(['Year', 'Gender']).sum()
    return result_df.reset_index()

In [34]:
result_df = count_dynamics([2014, 2015, 2016])

In [30]:
result_df

   Year Gender    Count
0  2014      F  1779496
1  2014      M  1913434
2  2015      F  1776538
3  2015      M  1907211
4  2016      F  1756647
5  2016      M  1880674