In [ ]:
#Вечером 20.02.18 Доделаю 2 задание, извините за задержку. Спасибо за понимание!

In [81]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [82]:
DATA_PATH = os.path.join(os.getcwd(), 'names')

In [83]:
def get_dict_with_df(list_of_years):
    dict_of_data_frame = {}
    for year in list_of_years:
        names = pd.read_csv(os.path.join(DATA_PATH, 'yob' + str(year) + '.txt'), names = ['Name', 'Gender', 'Count']) 
        dict_of_data_frame[year] = names
    return dict_of_data_frame

In [84]:
def count_top3(list_of_years):
    dict_of_data_frame = get_dict_with_df(list_of_years) 
    result_df = pd.concat(dict_of_data_frame, names = ['Year', 'Pos'])
    result_df = result_df.groupby('Name').sum()
    result_df = result_df.sort_values(by='Count', ascending = False).head(3) 
    return result_df.reset_index()

In [85]:
result_df = count_top3([2014, 2015, 2016])

In [86]:
result_df

     Name  Count
0    Emma  60781
1  Olivia  58713
2    Noah  58247